* {
    text-decoration: none;
    margin: 0px auto;
    padding: 0px auto;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

::-webkit-scrollbar-track {
    background-color: #FFFFFF;
}

 ::-webkit-scrollbar {
    width: 5px;
    background-color: #013088;
}

 ::-webkit-scrollbar-thumb {
    background: linear-gradient(45deg, #013088, #013088);
}

.header {
    position: fixed;
    z-index: 1;
    width: 100%;
    background: #013088;
}

.header h2 {
    color: white;
    padding: 15px 30px;
}

.container {
    width: 100%;
}

.panel {
    position: fixed;
    width: 15%;
    float: left;
    background: #393E46;
    padding: 85px 0 336px 0;
}

.panel a {
    padding: 10px 30px;
    display: flex;
    font-size: 16px;
    color: white;
}

.panel a:hover {
    background: black;
}

.navigation {
    width: 82%;
    padding: 95px 20px 0 0;
    float: right;
}

.navigation p {
    color: grey;
}

.navigation a {
    color: grey;
}

.navigation a:hover {
    text-decoration: underline;
}

.name-tag {
    width: 82%;
    padding: 40px 20px 0 0;
    float: right;
}

.name-tag h2 {
    font-size: 26px;
}

.box-menu form {
    width: 84.2%;
    padding: 20px;
    float: right;
    display: grid;
    grid-template-columns: 31% 31% 31%;
    grid-column-gap: 2%;
    grid-row-gap: 10px;
}

.user-box {
    padding: 10px 0;
    color: black;
    width: 290px;
}

.user-box label {
    color: grey;
    font-size: 14px;
}

.user-box input {
    width: 100%;
    padding: 5px 0;
    border: 0;
    outline: none;
    border-bottom: 1px solid grey;
}

.user-box .foto {
    border: none;
}

.user-box input:focus {
    transition-duration: 0.1s;
    border-bottom: 1px solid #013088;
}

.button {
    padding-right: 180px;
}

.tbl-login {
	font-size: 15px;
    border: none;
    font-weight: bold;
    border-radius: 20px;
	color: white;
    padding: 8px 16px;
    background: #013088;
    transition-duration: 0.5s;
}

.tbl-login:hover {
    background: #2146C7;
    transition-duration: 0.5s;
}

.blank {
    height: 280px;
}