* {
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

::-webkit-scrollbar-track {
    background-color: #FFFFFF;
}

 ::-webkit-scrollbar {
    width: 5px;
    background-color: #013088;
}

 ::-webkit-scrollbar-thumb {
    background: linear-gradient(45deg, #013088, #013088);
}

.container {
    width: 100%;
    margin: 0;
    position: relative;
}

.logo {
    padding-left: 100px;
}

.logo img {
    float: left;
    margin: 0;
    padding: 0;
}

.title a {
    font-size: 23px;
    float: left;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
}

.menu {
    padding-right: 100px;
    float: right;
}

nav {
    width: 100%;
    margin: auto;
    display: flex;
    line-height: 60px;
    position: fixed;
    top: 0;
    background: transparent;
    transition: all 0.2s ease-in-out;
}

.active {
    background: #013088;
    transition: all 0.2s ease-in-out;
    z-index: 1;
}

nav ul {
    list-style-type: none;
    overflow: hidden;
    margin: o;
    padding: 0;
}

nav ul li {
    float: left;
    padding: 0 2px 0 2px;
}

nav ul li a {
    color: white;
    text-align: center;
    padding: 5px 16px 8px 16px;
    text-decoration: none;
    transition-duration: 0.2s;
    border-radius: 10px;
}

nav ul li a:hover {
    background: #EA047E;
    border-radius: 10px;
    transition-duration: 0.2s;
}

section {
    margin: auto;
    display: flex;
}

.bg1 {
    width: 100%;
    padding: 60px 0px;
    background: linear-gradient(to left, #1746A2, #3181fa);
}

.box-bottom {
    padding: 40px;
    display: flex;
    grid-column-gap: 20px;
    grid-row: 20px;
}

.bottom {
    color: black;
    width: 300px;
    background: white;
}

.bottom ul {
    list-style-type: none;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

.bottom ul li {
    text-align: left;
    padding: 0 2px 0 2px;
}

.bottom ul .top {
    padding-bottom: 10px;
    font-size: 18px;
    font-weight: bold;
}

.bottom ul li a {
    color: #3C4048;
    font-size: 14px;
    text-decoration: none;
}

.bottom ul li a:hover {
    text-decoration: underline;
}

.footer {
    width: 95%;
    border-top: 1px solid black;
    padding: 20px;
}

.term {
    float: right;
}

.term ul {
    list-style-type: none;
    overflow: hidden;
}

.term ul li {
    padding: 5px;
    font-size: 12px;
    float: left;
}

.term ul li a {
    color: black;
    font-size: 12px;
    text-align: center;
    text-decoration: none;
}

.term ul li a:hover {
    text-decoration: underline;
}

.box {
    width: 1200px;
    padding: 20px 80px;
}

.content {
    padding-bottom: 50px;
    border-bottom: 1px solid white;
}

.feed {
    border-radius: 10px;
    padding: 40px;
    border: 1px solid white;
}

.gambar {
    width: 300px;
	height: 300px;
}

.gambar img {
    border-radius: 20px;
}

.kolom {
    text-align: justify;
    float: right;
    margin: -230px 0 0 450px;
}

.kolom p {
    color: white;
}

.kolom h1 {
    color: white;
    font-size: 40px;
    padding-bottom: 20px;
}

.button {
    padding-top: 20px;
    margin: 0;
}

.button h1 {
    color: white;
    font-size: 40px;
}

.button a {
    float: right;
    margin-top: -45px;
    color: white;
    border: 1px solid white;
    padding: 10px 20px;
    border-radius: 10px;
    transition-duration: 0.2s;
}

.button a:hover {
    background: black;
    transition-duration: 0.2s;
}

.socmed {
    float: left;
}

.socmed a {
    padding-right: 5px;
}

.fa-brands {
    font-size: 20px;
    color: black;

}